db_password = "replace-with-a-long-random-password"
# api_image = "123456789012.dkr.ecr.us-east-1.amazonaws.com/airbnb-api:latest"
# web_image = "123456789012.dkr.ecr.us-east-1.amazonaws.com/airbnb-web:latest"
